<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hakari's Bet</title>
    <link rel="stylesheet" href="main.css">
    <script src="main.js"></script>
</head>
<body>
    <div class = "container">
        <h1> Cadastro de Aposta </h1>
        <form>
            <p>
                <label for="fieldName">Selecione a modalidade: </label>
                <select id = "fieldModalidade" class = "inputs">
                    <option> Fortnite </option>
                    <option> Conter Strique Global Ofensive </option>
                    <option> Valorant </option>
                    <option> Rainbow Six </option>
                    <option> League of Legends </option>
                    <option> Speed Run </option>
                </select>
            </p>
            <p>
                <label for = "fieldTeam1">Competidor/Equipe 1: </label>
                <input type = "text" id = "fieldTeam1" required class = "inputs">
            </p>
            <p>
                <label for = "fieldTeam2">Competidor/Equipe 2: </label>
                <input type = "text" id = "fieldTeam2" required class = "inputs">
            </p>
            <p>
                <label for = "fieldStartDate"> Data de início da aposta: </label>
                <input type="date" id="fieldStartDate" required class="input"> 
            </p>
            <p>
                <label for = "fieldEndDate"> Data do Jogo: </label>
                <input type="date" id="fieldEndDate" required class="input"> 
            </p>
            <p>
                <button id="btnLogin" type="button" onclick="performLogin()" class = "button">Ok</button>
            </p>
        </form>    
        
        </div>
</body>
</html>